outputs/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.venv/
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
utils/
.DS_Store
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
temp_processing/